<h1>Shopping Cart</h1>

<div *ngIf="cart$ | async as cart" class="row col-10">
  <p>
    You have {{ cart.totalItemsCount }} items in your shopping cart.
    <button mat-button *ngIf="cart.totalPrice > 0" (click)="clearCart()">Clear Cart</button>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="quantity-column text-center">Quantity</th>
        <th class="text-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="thumbnail"></div>
        </td>
        <td>{{ item.product.title }}</td>
        <td>
          <app-product-quantity [product]="item.product" [shopping-cart]="cart"></app-product-quantity>
        </td>
        <td class="text-right">{{ item.totalPrice | currency:'AUD':symbol }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>Total:</th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency:'AUD':symbol }}</th>
      </tr>
    </tfoot>
  </table>
  <div class="col-10"></div>
  <div class="col-2">
    <button mat-raised-button color="primary" *ngIf="cart.totalPrice > 0" (click)="checkout()">Check Out</button>
  </div>
  
</div>

