<mat-card *ngIf="product.title">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ product.category | uppercase }}</mat-card-title>
    <!-- <mat-card-subtitle>Category</mat-card-subtitle> -->
  </mat-card-header>
  <img mat-card-image *ngIf="product.imageUrl" [src]="product.imageUrl" [alt]="product.title">
  <mat-card-content>
    <h5>{{ product.title }}</h5>
    <p>{{ product.price | currency:'AUD':symbol }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="showActions">
    <button mat-button *ngIf="getQuantity() === 0; else updateQuantity" color="primary" class="btn-block" (click)="addToCart()">Add to Cart</button>
    <ng-template #updateQuantity>
      <div class="row no-gutters">
        <div class="col-2">
          <button mat-mini-fab color="primary" (click)="removeFromCart()">-</button>
        </div>
        <div class="col text-center">{{ getQuantity()}} in cart</div>
        <div class="col-2">
          <button mat-mini-fab color="primary" class="plus-button" (click)="addToCart()">+</button>
        </div>
      </div>
    </ng-template>
  </mat-card-actions>
</mat-card>