<mat-card *ngIf="product.title">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ product.category | uppercase }}</mat-card-title>
    <!-- <mat-card-subtitle>Category</mat-card-subtitle> -->
  </mat-card-header>
  <img mat-card-image *ngIf="product.imageUrl" [src]="product.imageUrl" [alt]="product.title">
  <mat-card-content>
    <h5>{{ product.title }}</h5>
    <p>{{ product.price | currency:'AUD':symbol }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="showActions && shoppingCart">
    <button mat-button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" color="primary" class="btn-block" (click)="addToCart()">Add to Cart</button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
    </ng-template>
  </mat-card-actions>
</mat-card>